/*CSS Reset*/
* {
	margin: 0; 
	padding: 0;
	font-family: 'Galada', sans-serif;
} 
nav {
	display: flex;
	justify-content: space-between;
	background-color: orange;
	height: 10vh;
}
/*adjust the company brand*/
#brand{
	display: flex;
	align-items: center;
}
/*adjust the company logo*/
#logo {
	margin-left: 20px;
	font-size: 35px;
}
/*adjust the brand name*/
#brand-name {
	margin-left: 10px;
} 
/*adjust the links container in the nav bar*/
#links-container{
	display: flex;
	align-items: center; 
} 
/*
lets adjust each of the anchor tags*/
a {
	margin: 0px 20px;
	text-decoration: none; 
	font-size: 25px;
}
/*lets adjust the properties of the main section*/
main {
	height: 85vh;
	background-color: lightyellow;
    text-align: center;
    display: flex;
}
/*adjust the h1*/
h1 {
	margin: 10px;
} 

#side-nav {
	width: 10vw;
	display: flex;
	flex-direction: column; 
	background-color: yellow;
} 

.side-nav-links {
	margin: 10px 0px;
} 

#main-content{
	width: 100vh;
} 

#menu-a {
	margin: 10px;
	display: flex;
	justify-content: space-around;
}

#menu-b {
	margin: 10px;
	display: flex;
	justify-content: space-around;
}

/*lets adjust the properties of our image tag*/
img {
	height: 200px;
	width: 250px;
	margin-left: 50px;
}

h3 {
	margin: 10px;
}

footer p{
	background-color: orange;
	height: 5vh;
	display: flex;
	justify-content: center;
	font-family: 'Arial', sans-serif;
	align-items: center;
}